
<form action="<?php echo $GLOBALS['project_index']; ?>/controller/insert_category.php" method="POST">
<legend>Categoria de Produtos</legend>

	<label>Nome da Categoria</label>
	<input type="text" name="name"  class="form-control" placeholder="Digite o nome do produto"><br>

	<label>Descrição</label>
	<textarea name="desc" class="form-control" placeholder="Digite a descrição da cateoria"></textarea><br>

	

	<button class="btn btn-primary btn-lg btn-block">
		<span class="glyphicon glyphicon-ok-sign"></span> 
		Confirmar!
	</button>

</form>